@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html {
  scroll-behavior: smooth;
}

.searchFields {
  visibility: hidden;
  height: 0;
}

.vehicles_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center; /* Center items horizontally */
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.vehicles_list img {
  width: 100%; /* Make image fill the grid item */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the grid item */
}

.vehicles_list h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
}

.vehicles_list p {
  font-size: 1.25rem;
  color: #718096;
}.searchFields {
  visibility: hidden;
  height: 0;
}

.vehicles_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default to 1 column for small screens */
  gap: 1rem;
  justify-items: center;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* Medium screens (e.g., 768px and up) */
@media (min-width: 768px) {
  .vehicles_list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

/* Large screens (e.g., 1024px and up) */
@media (min-width: 1024px) {
  .vehicles_list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
  }
}

.vehicles_list img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.vehicles_list h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
}

.vehicles_list p {
  font-size: 1.25rem;
  color: #718096;
}