@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

html {
  scroll-behavior: smooth;
  text-wrap: pretty;
}

/* --- CARS LIST --- */

.vehicles_list {
  display: flex;
  max-width: 1360px;
  gap: 1.8rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.vehicles_list_img_cell {
  width: 360px;
  height: 240px;
  object-fit: cover;
  order: 0;
  overflow: hidden;
}

.vehicles_list img {
  width: 360px !important;
  height: 240px !important;
  transform: scale(1.2);
  transform-origin: 15% 20%;
  transition: transform 1s;
}

.vehicles_list img:hover {
  transform: scale(1.25);
  transition: transform 1s;
  transform-origin: 15% 20%;
}

.vehicles_list h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
}

.vehicles_list p {
  font-size: 1.25rem;
  color: #718096;
}

/*  Cars search field */

.searchFields {
  visibility: hidden;
  height: 0;
}

[class^="vehicles_list_row"] {
  width: min-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.vehicles_list_title_cell {
  display: flex;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 0.6rem;
  text-wrap: pretty;
  align-items: flex-end;
  order: 1;
}

.dataCell__firstreg {
  margin-right: 0.2rem;
}

.vehicles_list_data_cell.dataCell {
  font-size: 0.9rem;
  order: 2;
  position: relative;
}

.vehicles_list_price_cell {
  font-size: 0.9rem;
  font-weight: 800;
  order: 3;
}

.dataCell__finance {
  position: absolute;
  bottom: -42px;
}

/* Hidden information */

span.-transmission,
span.-fuel,
span.-comma,
span.dataCell__equipment {
  display: none;
  visibility: hidden;
  margin-right: 3px;
}

span.-mileage {
  display: block;
}

br {
  display: none;
}

strong {
  font-weight: 400;
}

/* CARS DETAILS PAGE */

.DetailsMain {
  padding: 2rem;
}

.DetailWrapper {
  display: flex;
  flex-direction: column-reverse;
}

#vehicleImagesContainerDiv,
.vehicle_details {
  overflow: hidden;
  visibility: hidden;
  display: none;
}

#vehicleImagesContentDiv {
  display: flex;
  transition: transform 0.5s ease;
}

.vehicleImageDiv0,
.vehicleImageDiv1 {
  flex: 0 0 auto;
}

.vehicleImageDiv0,
.vehicleImageDiv1 {
  margin-right: 10px; /* Adjust spacing between images */
}

/* -- TABLE STYLES -ze,  */

table {
  width: 100%;
  border-collapse: separate; /* Separate the borders of cells */
  border-spacing: 0 10px; /* Adds space between rows */
  margin: 20px 0;
  font-size: 0.8em;
  font-family: sans-serif;
}

th,
td {
  padding: 12px 15px;
  text-align: center; /* Center align text */
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: transparent; /* No background color */
  color: #333; /* Dark text color for contrast */
  text-transform: uppercase;
  position: relative; /* Needed for positioning */
  top: -10px; /* Shift upwards to appear outside */
}

.make_and_model {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-of-type(even) {
  background-color: #ffffff;
}

tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.make_and_model {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; /* Center text horizontally */
  vertical-align: middle; /* Center text vertically */
}
