@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html {
  scroll-behavior: smooth;
}

.searchFields {
  visibility: hidden;
  height: 0;
}

.vehicles_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center; /* Center items horizontally */
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.vehicles_list img {
  width: 100%; /* Make image fill the grid item */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the grid item */
}

.vehicles_list h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
}

.vehicles_list p {
  font-size: 1.25rem;
  color: #718096;
}

.searchFields {
  visibility: hidden;
  height: 0;
}

.vehicles_list {
  display: flex;
  max-width: 1280px;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}


/* .vehicles_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (min-width: 720px) {
  .vehicles_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1080px) {
  .vehicles_list {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.vehicles_list_img_cell {
  width: 320px;
  height: 240px;
  object-fit: cover;
}

[class^="vehicles_list_row"] {
  width: min-content;
}

.vehicles_list_title_cell {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem;
}

.vehicles_list_data_cell.dataCell {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.vehicles_list_price_cell {
  padding: 0.5rem;
  font-size: .9rem;
  font-weight: 600;
}

span.-transmission, span.-fuel, span.-comma {
  display: none;
  visibility: hidden;
}